<!DOCTYPE html>
<html>
<head>
  <title>Nelson's Secret Project</title>
  <link rel='stylesheet' href='style.css' />
</head>

<body>
  <h1><strong>Welcome to Nelson's Secret Project Recruitment</strong></h1>

  Apply to be a part of Nelson's Secret Project <a href="/studentInformation">Show your skills form</a><br>
  <hr>
  Review the list of all Applicants: <a href="/allApplicants">See who applied</a>
  <hr>
  Search Students: <a href="/search">Check out who meets your requirements</a>

</body>

</html>