<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin GPA</title>
</head>
<body style="font: 0.8rem;">
    <h1>Search Applicants by Language</h1>
    <form action="/search" method="POST">
        Enter Preferred Language: <input type="text" name="lang" id="lang" required>
        <input type="submit" value="Submit Application">
    </form>
    <br>
    <a href="/">HOME</a>
</body>
</html>